<div {{ attributes }}>

    {{ form_start(form, {attr: {
        'novalidate': true
    }}) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.topic) }}

        {% if form.reason is defined %}
            {{ form_row(form.reason) }}
        {% endif %}

        {% if form.body is defined %}
            {{ form_row(form.body) }}
        {% endif %}

    {{ form_end(form) }}

</div>